:root {
  --body-background: #f3f8ff;
  --body-color: #33186b;
  --countdown-box-background: #bcb4ff;
  --countdown-box-color: #33186b;
  --legend-color: #33186b;
  --birthdate-color: #7360df;
  --highlight: #7360df;
}

/* :root {
  --body-background: #f3f8ff;
  --body-color: #402b3a;
  --countdown-box-background: #ff9bd2;
  --countdown-box-color: #402b3a;
  --legend-color: #402b3a;
  --birthdate-color: #d63484;
  --highlight: #d63484;
} */
