.home,
.secret,
.wish {
  display: grid;
  place-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 2rem 1.5rem;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.highlight {
  color: var(--highlight);
}

.countdown-title {
  font-size: 2.25rem;
}

.countdown-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.countdown-box-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.countdown-box {
  background-color: var(--countdown-box-background);
  color: var(--countdown-box-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7.5rem;
  width: 7.5rem;
  text-align: center;
  font-size: 2.25rem;
  border-radius: 0.9375rem;
}

.legend {
  color: var(--legend-color);
  font-size: 1.875rem;
}

.secret-title,
.wish-title {
  font-size: 2.8125rem;
}

.secret-title {
  color: var(--highlight);
}

.birthdate {
  color: var(--birthdate-color);
  font-size: 1.5625rem;
}

@media only screen and (min-width: 992px) {
  .heading {
    font-size: 2.5rem;
  }
  .countdown-box {
    height: 9rem;
    width: 9rem;
    font-size: 3.125rem;
  }
}
